<template>
  <p>{{ greeting }} Vue Projects!</p>
</template>

<script>
module.exports = {
  data: function () {
    return {
      greeting: 'Hello1a',
    };
  },
};
</script>

<style scoped></style>
